.about {
  margin: 15px 15px 0 15px;
  scroll-behavior: smooth;
}

.about__section {
  display: flex;
}

.about__section:nth-child(2n-1) {
  flex-flow: row-reverse;
  text-align: left;
}

.about__section:nth-child(2n) {
  text-align: right;
}

.section__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: calc(2em + 19px) 50px 50px 50px;
}

.section__wrapper:first-child {
  background-color: rgba(255, 255, 255, 0.6);
}

.section__title {
  color: #1e415e;
  margin-bottom: 15px;
}

.section__desc {
  color: black;
}

.section__img,
.section__video {
  max-width: 100%;
  max-height: 75vh;
  object-fit: cover;
  align-self: center;
}

.section__scroll-btn {
  margin-top: 10px;
  width: 40px;
}

.section__scroll-btn:hover {
  transform: translateY(5px);
  transition: transform 0.3s ease-in-out;
}

.section__scroll-btn--last:hover {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.section__scroll-btn:not(:hover) {
  transition: transform 0.5s ease-out;
}

.about__footer {
  margin-top: 0;
}

@media (max-width: 500px) {
  .about__section:nth-child(2n-1) {
    flex-flow: row;
  }
  .about__section:nth-child(n) {
    flex-direction: column;
  }
  .section__wrapper {
    width: auto;
    padding: 20px;
    text-align: center;
  }

  .section__desc {
    text-align: justify;
  }
  .section__img,
  .section__video {
    max-height: 90vh;
    width: auto;
  }
  a .section__scroll-btn {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .section__wrapper {
    padding: 20px;
  }
}
