.about {
  margin: 0 15px 15px 15px;
  scroll-behavior: smooth;
}

.about__section {
  display: flex;
  gap: 15px;
}

.about__section:nth-child(2n-1) {
  flex-flow: row-reverse;
  text-align: left;
}

.about__section .section__title {
  align-self: center;
}

.section__wrapper {
  margin-top: 15px;
  width: 50%;
  max-height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: calc(2em + 19px) 50px 50px 50px;
  text-align: center;
}

.section__wrapper:first-child {
  background-color: rgba(255, 255, 255, 0.7);
}
.section__wrapper:last-child {
  padding: 0;
}

.section__title {
  position: relative;
  width: fit-content;
  color: #1e415e;
  margin-bottom: 15px;
  padding: 5px 30px;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  outline: 1px solid #1e415e;
}

.section__desc {
  text-align: justify;
  color: black;
  line-height: 1.4;
}

.section__img,
.section__video {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.section__scroll-btn {
  width: 50px;
}

.section__scroll-btn:hover {
  transform: translateY(5px);
  transition: transform 0.3s ease-in-out;
}

.section__scroll-btn--last:hover {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.section__scroll-btn:not(:hover) {
  transition: transform 0.5s ease-out;
}

.about__footer {
  margin-top: 0;
}

.accent {
  font-weight: bold;
  color: #1e415e;
}

@media (max-width: 800px) {
  .about__section:nth-child(2n-1) {
    flex-flow: row;
  }
  .about__section:nth-child(n) {
    flex-direction: column;
  }
  .section__wrapper {
    width: auto;
    margin-top: 15px;
    padding: 20px;
    text-align: center;
  }
  .section__wrapper:last-child {
    margin-top: 0;
  }

  .section__desc {
    text-align: justify;
  }
  .section__img,
  .section__video {
    max-height: 90vh;
    width: 100%;
  }
  a .section__scroll-btn {
    text-align: center;
  }
}
