#background_wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#background_wrap::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  /* right: 0;
  bottom: 0; */
  height: 100vh;
  width: 100vw;
  /* -webkit-background-size: cover;
  -prefix-background-size: cover; */
  background: url('images/bg-main.jpg') no-repeat top center;
  filter: brightness(0.7);
  background-size: cover;
  z-index: -1;
}
