a {
  text-decoration: none;
  color: #b9805d;
}

a:hover {
  color: #1e415e;
}

.bg-img {
  position: fixed;
  left: 0;
  top: -250px;
  filter: opacity(10%);
  z-index: -100;
  animation: intro-bg 2s ease-out;
}

.intro {
  position: absolute;
  top: 0;
  left: 100vw;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: intro-text 2s ease-out;
  display: flex;
  opacity: 0;
  box-shadow: 0 0 1px #1e415e;
}

.intro__title {
  margin: 0;
  font-size: 4em;
  text-align: center;
  text-shadow: 0 0 10px #000;
}

.intro__desc {
  font-size: 1.8em;
  color: white;
  text-shadow: 0 0 10px #000;
}

@keyframes intro-bg {
  0% {
    filter: blur(10px);
    filter: opacity(100%);
    z-index: 10;
  }
  60% {
    filter: blur(10px);
    filter: opacity(100%);
    z-index: 10;
  }
  95% {
    filter: none;
    filter: opacity(10%);
    z-index: 0;
  }
  100% {
    filter: none;
    filter: opacity(10%);
    z-index: 0;
  }
}

@keyframes intro-text {
  0% {
    left: 0;
    display: flex;
    opacity: 1;
    z-index: 11;
  }
  60% {
    left: 0;
    display: flex;
    opacity: 1;
    z-index: 11;
  }
  95% {
    display: none;
    opacity: 0;
    z-index: -1;
    left: 0;
  }
  100% {
    left: 100vw;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: sticky;
  color: #b9805d;
}

.header__logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  z-index: 1;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0 40px;
}

.menu-list__item {
  display: flex;
  align-items: center;
}

.header__btn {
  height: 100%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', serif;
}

.btn--feedback {
  margin-right: 20px;
}

.btn--menu {
  display: none;
  position: absolute;
  right: 24px;
  background: transparent;
  height: 27px;
  width: 27px;
  align-self: center;
  justify-self: center;
}

.btn--menu:hover {
  outline: none;
  background: transparent;
}

.btn--menu img {
  position: absolute;
  height: 27px;
  transition: all ease-in-out 0.5s;
}

.hidden {
  opacity: 0;
}

.link--btn {
  padding: 10px;
  background-color: #b9805d;
  color: #fff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.link--btn:hover {
  background-color: transparent;
  color: #b9805d;
  outline: 1px solid #b9805d;
}

@media (max-width: 800px) {
  .header {
    /* justify-content: space-between; */
  }
  .menu-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.5s;
  }
  .closed {
    top: 100vh;
    bottom: -150vh;
  }
  .menu {
    flex-direction: column;
  }

  .menu-list {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
  }
  .menu-list__item {
    justify-content: center;
  }

  .header__logo {
    margin-top: 20px;
  }
  .btn--menu {
    display: flex;
  }
  .btn--feedback {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
}
@media (max-width: 1200px) {
}
