body {
  overflow: scroll;
}

.intro {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100vw;
}

.intro__img {
  position: fixed;
  left: 0;
  bottom: 100vh;
  filter: opacity(20%) brightness(0.4);
  animation: intro-img 3s linear;
  animation-iteration-count: 1;
  opacity: 0;
}

@keyframes intro-img {
  0% {
    z-index: 10;
    opacity: 1;
    top: -250px;
    filter: opacity(100%) brightness(0.4);
  }
  50% {
    z-index: 10;
    opacity: 1;
    top: -250px;
    bottom: auto;
    filter: opacity(100%) brightness(0.4);
  }
  95% {
    z-index: 10;
    opacity: 0;
    bottom: auto;
    filter: opacity(20%) brightness(0.4);
    top: -250px;
  }
  100% {
    z-index: 10;
    opacity: 0;
    bottom: 100vh;
    filter: opacity(20%) brightness(0.4);
  }
}

.intro__wrapper {
  position: absolute;
  top: -120vh;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  overflow: scroll;
  animation: intro-text 3s linear;
  animation-iteration-count: 1;
  z-index: 11;
}

.intro__title {
  margin: 0;
  font-size: 4em;
  text-align: center;
  text-shadow: 0 0 10px #000;
}

.intro__desc {
  font-size: 1.8em;
  color: white;
  text-shadow: 0 0 10px #000;
}

@keyframes intro-text {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: 0;
    opacity: 1;
  }
  95% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: -120vh;
    opacity: 0;
  }
}

.bg-img {
  position: fixed;
  left: 0;
  top: -250px;
  filter: blur(5px) hue-rotate(0deg);
  z-index: -100;
}

a {
  text-decoration: none;
  color: #b9805d;
}

a:hover {
  color: #1e415e;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: sticky;
  color: #b9805d;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
}

.header__logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  z-index: 1;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0 40px;
}

.menu-list__item {
  display: flex;
  align-items: center;
}

.menu-list__link {
  text-transform: uppercase;
}

.menu-list__link--menu {
  position: relative;
}

.menu-list__link--menu:hover.menu-list__link--menu::after {
  display: block;
  opacity: 1;
}

.menu-list__link--menu::after {
  content: 'pdf';
  position: absolute;
  opacity: 0;
  left: 11px;
  display: none;
  font-size: 0.8em;
  transition: opacity 0.3s ease-in-out;
}

.menu-list__link--review::after {
  content: 'в Яндекс Картах';
  position: absolute;
  opacity: 0;
  left: 16px;
  display: none;
  font-size: 0.8em;
  transition: opacity 0.3s ease-in-out;
}
.menu-list__link--review {
  position: relative;
}
.menu-list__link--review:hover.menu-list__link--review::after {
  display: block;
  opacity: 1;
}

.header__btn {
  height: 100%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', serif;
}

.btn--menu {
  display: none;
  position: absolute;
  right: 24px;
  background: transparent;
  height: 27px;
  width: 27px;
  align-self: center;
  justify-self: center;
  padding: 0;
}

.btn--menu:hover {
  outline: none;
  background: transparent;
}

.btn--menu img {
  position: absolute;
  height: 27px;
  transition: all ease-in-out 0.5s;
}

.hidden {
  opacity: 0;
}

.link--btn {
  padding: 10px;
  background-color: #b9805d;
  color: #fff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.link--btn:hover {
  background-color: transparent;
  color: #b9805d;
  outline: 1px solid #b9805d;
}

@media (max-width: 800px) {
  .menu-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.5s;
  }
  .closed {
    top: 100vh;
    bottom: -150vh;
  }
  .menu {
    flex-direction: column;
  }

  .menu-list {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
  }
  .menu-list__item {
    justify-content: center;
  }

  .btn--menu {
    display: flex;
  }
  .btn--feedback {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
