
.hero {
  position: relative;
  padding: 0 15px;
  z-index: -1;
}

.hero__title {
  /* position: absolute;
  top: 40%;
  left: 30px;
  width: 40%;
  font-weight: 600;
  text-shadow: 0 0 10px #000; */
  text-align: center;
}

button {
  padding: 10px;
  background-color: #b9805d;
  color: #fff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

button:focus {
  background-color: #fff;
  color: #b9805d;
  outline: 1px solid #1e415e;
}

button:hover {
  background: #fff;
  color: #b9805d;
  outline: 1px solid #b9805d;
}

button > a {
  color: white;
}

.phone-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 9;
}

.phone-btn:hover .phone-btn__link {
  background-color: white;
  color: transparent;
  text-shadow: 0 0 0 #b9805d;
}

.phone-btn__link {
  z-index: 9;
  font-size: 2rem;
  color: transparent;
  text-shadow: 0 0 0 white;
}
.phone-btn__link:hover {
  color: transparent;
  text-shadow: 0 0 0 #b9805d;
}

.phone-btn:hover {
  transform: rotate(20deg) scale(1.05);
  transition: transform ease-in-out 0.2s;
  color: transparent;
  text-shadow: 0 0 0 white;
}

.hero__img {
  width: 100%;
}

@media (max-width: 550px) {
}
@media (max-width: 800px) {
}
@media (max-width: 1200px) {
}
