.hero {
  padding: 0 15px;
}

.hero__wrapper {
  height: calc(100vh - 69px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

.hero__title {
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.desc__wrap {
  white-space: nowrap;
}

.hero__desc {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

button {
  padding: 10px;
  background-color: #b9805d;
  color: #fff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

button:focus {
  background-color: #fff;
  color: #b9805d;
  outline: 1px solid #1e415e;
}

button:hover {
  background: #fff;
  color: #b9805d;
  outline: 1px solid #b9805d;
}

button > a {
  color: white;
}

.phone-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.phone-btn:hover .phone-btn__link {
  background-color: transparent;
  color: transparent;
  text-shadow: 0 0 0 white;
}

.phone-btn__link {
  font-size: 2rem;
  color: transparent;
  text-shadow: 0 0 0 white;
}
.phone-btn:hover .phone-btn__link:hover {
  color: transparent;
  text-shadow: 0 0 0 white;
}

.phone-btn__link:hover {
  background-color: transparent;
  color: transparent;
  text-shadow: 0 0 0 white;
}

.phone-btn:hover {
  background-color: transparent;
  transform: rotate(20deg) scale(1.2);
  transition: transform ease-in-out 0.2s;
}

.hero__img {
  width: 100%;
}

.gallery {
  margin: 15px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.6);
}

.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 15px;
  margin-bottom: 15px;
}

.gallery__item {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.gallery__item--entire {
  width: 100%;
}

.running-line__wrapper {
  width: 200%;
  box-sizing: content-box;
  animation: line 20s linear infinite;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.running-line {
  display: inline-block;
  width: 50%;
  text-align: center;
}

@keyframes line {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}
