@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Montserrat', serif !important;
  font-weight: 400;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: #000;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #b9805d;
}
body.closed--body {
  overflow: scroll;
}

@media (max-width: 800px) {
  body {
    overflow: hidden;
  }
}

.link--disabled {
  cursor: not-allowed;
}
.link--disabled:hover {
  color: #b9805d;
}
