@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Montserrat', serif !important;
  font-weight: 400;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #000;
}

html {
  scroll-behavior: smooth;
}

body.closed--body {
  overflow: scroll;
}

@media (max-width: 800px) {
  body {
    overflow: hidden;
  }
}
