.reserve-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__title {
  color: #1e415e;
}

.reserve-form input,
.reserve-form textarea {
  max-width: 300px;
  outline: 1px solid #b9805d;
  border: 0;
  border-radius: 0;
  padding: 5px;
  font-size: 16px;
  font-family: 'Montserrat', serif;
  background-color: #fff;
}

.reserve-form input:focus,
.reserve-form textarea:focus {
  outline: 1px solid #1e415e;
  outline-offset: 0;
}

.reserve-form textarea#comment {
  height: 100px;
}

.reserve-form__submit-btn {
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Montserrat', serif;
  font-weight: 400;
}

input::placeholder {
  color: darkgrey;
}
