.reserve-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form__title {
  color: #1e415e;
}

.reserve-form input,
.reserve-form textarea {
  max-width: 300px;
  outline: 1px solid #b9805d;
  border: 0;
  padding: 5px;
  font-size: 16px;
  font-family: 'Montserrat', serif;
}

.reserve-form input:focus,
.reserve-form textarea:focus {
  outline: 1px solid #1e415e;
  outline-offset: 0;
}

.reserve-form textarea#comment {
  height: 100px;
}

.reserve-form__submit-btn {
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Montserrat', serif;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
